.projects-header-bg {
    background: linear-gradient(99.98deg, rgb(0 0 0 / 68%) 8.86%, rgb(0 0 0 / 15.4%) 74.38%, rgb(0 0 0 / 0%) 100%), url('/assets/gold-project/header-section-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}