/* --- custom backgrounds --- */

.about-section-bg {
    background: url('src/assets/index/about-section-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.explore-section-bg {
    background: url('src/assets/index/explore-section-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-section-bg {
    background: url('src/assets/index/news-section-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}