@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply bg-black;
    @apply font-poppins;
    @apply text-white;
    @apply font-normal;
    @apply text-base;
    @apply tracking-wider;
  }

  a {
    @apply cursor-pointer;
  }

  /* --- font sizes --- */
  @screen dsk{
    .text-base {
      @apply text-base-dsk;
    }

    .text-page-header {
      @apply text-page-header-dsk;
    }

    .text-content-20 {
      @apply text-content-20-dsk;
    }

    .text-section-header-md {
      @apply text-section-header-md-dsk;
    }

    .text-section-header-lg {
      @apply text-section-header-lg-dsk;
    }

    .text-section-subheader {
      @apply text-section-subheader-dsk;
    }

    .text-container-header {
      @apply text-container-header-dsk;
    }

    .text-card-header {
      @apply text-card-header-dsk;
    }

    .text-card-subheader {
      @apply text-card-subheader-dsk;
    }

    .text-button {
      @apply text-button-dsk;
    }

    .text-footer {
      @apply text-footer-dsk;
    }

    .text-copyright {
      @apply text-copyright-dsk;
    }
  }

  /* --- buttons --- */

  .button-primary {
    @apply text-button;
    @apply text-black;
    @apply bg-gold;
    @apply inline-block;

    padding: 8px 28px;
    border-radius: 10px;
  }  
  
  .button-primary:hover {
    @apply text-button;
    @apply text-white;
    @apply bg-dark-blue;
  }

  .button-secondary {
    @apply text-button;
    @apply text-white;
    @apply bg-black;
    @apply inline-block;

    padding: 8px 28px;
    border-radius: 10px;
  }

  .button-secondary:hover {
    @apply text-button;
    @apply text-white;
    @apply bg-light-blue;
  }

  .button-accent {
    @apply text-button;
    @apply text-white;
    @apply bg-black;
    @apply inline-block;

    padding: 8px 28px;
    border-radius: 10px;
  }

  .button-accent:hover {
    @apply text-button;
    @apply text-black;
    @apply bg-gold;
  }

  .read-more-btn {
    @apply font-normal;
    @apply text-gold;
    @apply inline-block;
    @apply cursor-pointer;
  }

  .read-more-btn:hover {
    @apply font-medium;
    @apply text-light-blue;
  }
  
  /* --- gradients --- */

  .gradient-gray {
    background: rgba(173 184 194 / 15%);
    filter: blur(150px);
    
    @apply rounded-full;
  }
  
  .gradient-gold {
    background: rgba(213 166 96 / 15%);
    filter: blur(150px);

    @apply rounded-full;
  }
  
  

  /* --- backgrounds --- */

  /* --- home --- */

  .about-section-bg {
    background: url('/assets/index/about-section-bg.webp');

    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

  .about-section-bg-mobile {
    background: url('/assets/index/about-section-bg-mobile.webp');
    
    @apply bg-top;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

  .news-section-bg {
    background: linear-gradient(0deg, rgb(136 136 136 / 20%), rgb(136 136 136 / 20%)), url('/assets/index/news-section-bg.webp');
    
    @apply bg-top;
    @apply bg-cover;
    @apply bg-no-repeat;
}

  /* --- board --- */

  .board-header-bg {
    background: linear-gradient(99.98deg, rgb(0 0 0 / 68%) 8.86%, rgb(0 0 0 / 15.4%) 74.38%, rgb(0 0 0 / 0%) 100%), url('/assets/board/header-section-bg.webp');
    
    @apply bg-top;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

  .board-section-bg {
    background: url('/assets/board/board-section-bg.webp');
    
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
  }


  /* --- investors --- */
  
  .investors-header-bg {
    background: linear-gradient(99.98deg, rgb(0 0 0 / 68% ) 8.86%, rgb(0 0 0 / 15.4% ) 74.38%, rgb(0 0 0 / 0% ) 100%), url('/assets/investors/investors-header-bg.webp');
    
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

  /* --- projects --- */

  .projects-header-bg {
      background: linear-gradient(99.98deg, rgb(0 0 0 / 68%) 8.86%, rgb(0 0 0 / 15.4%) 74.38%, rgb(0 0 0 / 0%) 100%), url('/assets/gold-project/header-section-bg.webp');
    
      @apply bg-center;
      @apply bg-cover;
      @apply bg-no-repeat;
  }

  /* --- news --- */

  .news-header-bg {    
    background: linear-gradient(99.98deg, rgb(0 0 0 / 68% ) 8.86%, rgb(0 0 0 / 15.4% ) 74.38%, rgb(0 0 0 / 0% ) 100%), url('/assets/news/news-header-bg.webp');
    
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

  .news-articles-bg {
    background: url('/assets/news/news-section-bg.png');
    
    @apply bg-top;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

  /* --- legal --- */

  .legal-section-bg {
    background: linear-gradient(99.98deg, rgb(0 0 0 / 68% ) 8.86%, rgb(0 0 0 / 15.4% ) 74.38%, rgb(0 0 0 / 0% ) 100%), url('/assets/legal/legal-section-bg.webp');
    
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
}

  /* --- overview --- */

  .overview-header-bg {
    background: linear-gradient(99.98deg, rgb(0 0 0 / 68%) 8.86%, rgb(0 0 0 / 15.4% ) 74.38%, rgb(0 0 0 / 0% ) 100%), url('/assets/overview/header-section-bg.webp');    
    
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
  }


}

