@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply bg-black;
    @apply font-poppins;
    @apply text-white;
    @apply font-normal;
    @apply text-base;
    @apply tracking-wider;
  }

  a {
    @apply cursor-pointer;
  }

  /* --- buttons --- */

  .button-primary {
    @apply text-button;
    @apply text-black;
    @apply bg-gold;
    padding: 8px 28px;
    border-radius: 10px;
    @apply inline-block;
  }  
  
  .button-primary:hover {
    @apply text-button;
    @apply text-white;
    @apply bg-dark-blue;
  }

  .button-secondary {
    @apply text-button;
    @apply text-white;
    @apply bg-black;
    padding: 8px 28px;
    border-radius: 10px;
    @apply inline-block;
  }

  .button-secondary:hover {
    @apply text-button;
    @apply text-white;
    @apply bg-light-blue;
  }

  .button-accent {
    @apply text-button;
    @apply text-white;
    @apply bg-black;
    padding: 8px 28px;
    border-radius: 10px;
    @apply inline-block;
  }

  .button-accent:hover {
    @apply text-button;
    @apply text-black;
    @apply bg-gold;
  }

  .read-more-btn {
    @apply font-normal;
    @apply text-gold;
    @apply inline-block;
    @apply cursor-pointer;
  }

  .read-more-btn:hover {
    @apply font-medium;
    @apply text-light-blue;
  }
  
  /* --- gradients --- */

  .gradient-gray {
    background: rgba(173, 184, 194, 0.15);
    filter: blur(150px);
    @apply rounded-full;
  }

  .gradient-gold {
    background: rgba(213, 166, 96, 0.15);
    filter: blur(150px);
    @apply rounded-full;
  }

  /* --- backgrounds --- */

  .about-section-bg {
    background: url('/assets/index/about-section-bg.png');
    @apply bg-center;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

  .about-section-bg-mobile {
    background: url('/assets/index/about-section-bg-mobile.png');
    @apply bg-top;
    @apply bg-cover;
    @apply bg-no-repeat;
  }

}

