.legal-section-bg {
    background: linear-gradient(99.98deg, rgb(0 0 0 / 68% ) 8.86%, rgb(0 0 0 / 15.4% ) 74.38%, rgb(0 0 0 / 0% ) 100%), url('/assets/legal/legal-section-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
