#menuToggle
{
  position: relative;
  top: 12.5px;
  left: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, 0); /* Adjusted translation */
  background: #FFFFFF;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 0); /* Adjusted translation */
}

 #menu
{
  position: absolute;
  margin-top: -75px;
  margin-right: -50px;
  padding: 50px;
  padding-top: 100px;
  
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  right: 0; 
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

 #menuToggle input:checked ~ ul
{
  transform: none;
}


/* ------------ */

details summary::-webkit-details-marker {
  display: none;
}


.arrow-up,
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  scale: 0.4;
}

.arrow-up {
  border-bottom: 15px solid currentColor;
}

.arrow-down {
  border-top: 15px solid currentColor;
}
