/* --- custom positioning --- */

.left-2-3-minus-125px {
    left: calc(66.666667% - 125px);
}

.left-2-3-minus-100px {
    left: calc(66.666667% - 100px);
}

.left-2-3-plus-40px {
    left: calc(66.666667% + 40px);
}
